:root {
    /* Blue */
    --blue-90: #E7F0FF;
    --blue-80: #CFE2FF;
    --blue-70: #B6D3FE;
    --blue-60: #9EC4FE;
    --blue-50: #86B6FE;
    --blue-40: #6EA7FE;
    --blue-30: #5599FD;
    --blue-20: #3D8AFD;
    --blue-10: #257BFD;
    --blue-original: #0D6DFD;
    --blue-minus-10: #0260EC;
    --blue-minus-20: #0255D2;
    --blue-minus-30: #024BB8;
    --blue-minus-40: #02409E;
    --blue-minus-50: #013583;
    --blue-minus-60: #012B69;
    --blue-minus-70: #01204F;
    --blue-minus-80: #011535;
    --blue-minus-90: #000B1A;
    /* Green */
    --green-90: #E1FAEE;
    --green-80: #C4F4DD;
    --green-70: #A6EFCD;
    --green-60: #88E9BC;
    --green-50: #6AE4AB;
    --green-40: #4DDE9A;
    --green-30: #2FD98A;
    --green-20: #23C177;
    --green-10: #1EA365;
    --green-original: #198653;
    --green-minus-10: #16784A;
    --green-minus-20: #146B42;
    --green-minus-30: #115E3A;
    --green-minus-40: #0F5032;
    --green-minus-50: #0C4329;
    --green-minus-60: #0A3521;
    --green-minus-70: #072819;
    --green-minus-80: #051B11;
    --green-minus-90: #020D08;
    /* Red */
    --red-90: #FBEBED;
    --red-80: #F8D7DA;
    --red-70: #F4C3C8;
    --red-60: #F1AFB6;
    --red-50: #ED9BA4;
    --red-40: #EA8791;
    --red-30: #E6737F;
    --red-20: #E35F6D;
    --red-10: #DF4C5A;
    --red-original: #DC3848;
    --red-minus-10: #D32537;
    --red-minus-20: #BB2130;
    --red-minus-30: #A41D2A;
    --red-minus-40: #8C1924;
    --red-minus-50: #8C1924;
    --red-minus-60: #5E1118;
    --red-minus-70: #460C12;
    --red-minus-80: #2F080C;
    --red-minus-90: #170406;
    /* Yellow */
    --yellow-90: #FFF9E6;
    --yellow-80: #FFF3CD;
    --yellow-70: #FFECB4;
    --yellow-60: #FFE69B;
    --yellow-50: #FFE082;
    --yellow-40: #FFDA69;
    --yellow-30: #FFD350;
    --yellow-20: #FFCD37;
    --yellow-10: #FFC71E;
    --yellow-original: #FFC105;
    --yellow-minus-10: #EAB000;
    --yellow-minus-20: #D09C00;
    --yellow-minus-30: #B68900;
    --yellow-minus-40: #9C7500;
    --yellow-minus-50: #826200;
    --yellow-minus-60: #684E00;
    --yellow-minus-70: #4E3B00;
    --yellow-minus-80: #342700;
    --yellow-minus-90: #1A1400;
    /* Cyan */
    --cyan-90: #E7FAFE;
    --cyan-80: #CFF5FC;
    --cyan-70: #B6F0FB;
    --cyan-60: #9EEBFA;
    --cyan-50: #86E5F9;
    --cyan-40: #6EE0F7;
    --cyan-30: #55DBF6;
    --cyan-20: #3DD6F5;
    --cyan-10: #25D1F4;
    --cyan-original: #0DCCF2;
    --cyan-minus-10: #0BB8DA;
    --cyan-minus-20: #0AA3C2;
    --cyan-minus-30: #098FAA;
    --cyan-minus-40: #087A91;
    --cyan-minus-50: #066679;
    --cyan-minus-60: #055261;
    --cyan-minus-70: #043D49;
    --cyan-minus-80: #032930;
    --cyan-minus-90: #011418;
}
