#filter {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

#btn-container {
    display: flex;
    width: auto;
}

    #btn-container .btn-cadastrar {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 5px;
        border: 2px var(--seal-brown-10) solid;
        border-radius: 5px;
        color: var(--seal-brown-10);
        background-color: var(--brown-90);
        font-weight: 600;
    }

#options-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

#filter-form {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

    #filter-form .btn-filtrar {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 5px;
        border-radius: 5px;
        color: white;
        background-color: var(--licorice-30);
        font-weight: 600;
    }

